@use "variables" as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: v.$Font-size;
  font-family: v.$Font-family;
  @media (min-width: v.$width-media) {
    overflow: hidden;
  }
}
