@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
// COLORS
$Linear-gradient-active-input-border1: hsl(249, 99%, 64%);
$Linear-gradient-active-input-border2: hsl(278, 94%, 30%);
$Red-input-errors: hsl(0, 100%, 66%);
$White: hsl(0, 0%, 100%);
$Light-grayish-violet: hsl(270, 3%, 87%);
$Dark-grayish-violet: hsl(279, 6%, 55%);
$Very-dark-violet: hsl(278, 68%, 11%);
// FONTS
$Font-size: 18px;
$Font-family: "Space Grotesk", sans-serif;
// DIMENSIONS
$width-mobile: 23.4375rem;
$height-mobile: 56.25rem;
$width-desktop: 115.375rem;
$height-desktop: 56.375rem;
$width-media: 81.25rem;
